<div class="wrapper">
  <div class="profile-info">
    <div class="pre-title">Hola mi nombre es</div>
    <h1 class="title">Alejandro Tomba</h1>
    <h2 class="sub-title">Técnico en Programación</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Incidunt dicta sed excepturi nemo eaque nulla, blanditiis vel ipsa ea,
      voluptatem voluptate reiciendis nobis? Minus doloribus nulla eum quo soluta! Ut.</p>
  </div>
  <mat-divider></mat-divider>
  <div class="photo-presentation">
    <img src="/assets/img/Diseño sin título.jpg" alt="Foto de perfil">
  </div>
</div>

